@import '../../styles/variables.scss';

.constructor-tools {
  width: 20%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $green;

  position: fixed;
  top: 0;
  right: 0;
}
