@import '../../styles/variables.scss';

.constructor-tools {
  &-list {
    width: 20%;
    height: 100vh !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: $green;

    padding: 10px 5px;
    box-sizing: border-box;

    &__item {
      margin: 10px 0;
      max-width: 250px;
      background: $white;
      border-radius: $rounded;

      padding: 0.25rem 0.5rem;

      text-align: center;

      white-space: nowrap;

      &_dragged {
        background: $black;
        color: $white;
      }
    }
  }

  // position: fixed;
  // top: 0;
  // right: 0;
}
