@import '../../styles/variables.scss';

.constructor-tools {
  &-list {
    width: 20%;
    height: 100vh !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: $green;

    &_dragged {
    }
  }

  // position: fixed;
  // top: 0;
  // right: 0;
}
