@import '../../styles/variables.scss';

.constructor-block {
  margin-bottom: 10px;
  width: 80%;
  padding: 20px 10px;
  box-sizing: border-box;

  background: $white;
  box-shadow: $shadow;
  border-radius: $rounded;

  text-align: center;

  &_drag {
    opacity: 0.5;
  }
}
