@import '../../styles/variables.scss';

.card {
  width: 100%;
  max-width: 720px;

  background: $white;
  box-shadow: $shadow;
  border-radius: $rounded;

  @media (max-width: 1340px) {
    width: 100%;
    height: 100%;

    border-radius: 0;
  }
}
