@import '../../styles/variables.scss';

.library {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;

  background: $black-transparent;

  position: relative;

  &-container {
    width: calc(100% - 100px);
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;

    overflow-x: auto;
  }

  &_dragged {
    background: $grey-transparent;
  }
}
