@import '../../styles/variables.scss';

.add-button {
  padding: 30px;
  box-sizing: border-box;

  border-radius: $circle;

  background: $white;

  box-shadow: $shadow;

  position: relative;

  &::before {
    content: '';
    position: absolute;

    width: 80%;
    height: 2px;

    background: $black;

    border-radius: $rounded;
  }

  &::before {
    content: '';
    position: absolute;

    width: 2px;
    height: 80%;

    background: $black;

    border-radius: $rounded;
  }
}
