@import '../../styles/variables.scss';

.library__item {
  width: 100px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $black;
  box-sizing: border-box;

  font-size: $regular;

  transition: 0.5s;
  cursor: pointer;

  &_dragged {
    transform: scale(1.1);
  }

  &:hover {
    transform: scale(1.1);
  }
}
