.container {
  width: 100%;
  // max-width: 1340px;
  margin: 0 auto;
}

.main {
  height: 100vh;
  min-height: 100vh;
  // padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
