@import '../../styles/variables.scss';

.constructor-main {
  &-list {
    width: 100%;
    max-width: 500px;
    height: 65vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    background: $yellow;

    overflow-y: auto;

    border-radius: $rounded;

    padding: 20px 10px;
    box-sizing: border-box;

    &_dragged {
      background: rgba(255, 250, 118, 0.5);
    }

    &__item {
      margin: 10px 0;
      max-width: 450px;
      background: $white;
      border-radius: $rounded;

      padding: 5px 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      &_dragged {
        background: $black;
        color: $white;
      }
    }
  }
}
