@import '../../styles/variables.scss';

.constructor-main {
  &-list {
    width: 100%;
    max-width: 500px;
    height: 65vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $yellow;

    &_dragged {
      background: rgba(255, 250, 118, 0.5);
    }
  }
}
