@import '../../../styles/variables.scss';

.button {
  width: 360px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;

  background: $green;

  border-radius: $rounded;

  font-size: $regular;

  @media (max-width: 1340px) {
    width: 100%;
  }
}
