@import '../../styles/variables.scss';

.text {
  font-size: $regular;

  &_description {
    font-size: $description;
  }

  &_bold {
    font-weight: $bold;
  }

  &_white {
    color: $white;
    text-decoration: none;
  }
}
